name: House Alert Bot

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - run: pip install requests beautifulsoup4

      - run: python bot.py
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}

      - name: Commit seen.json
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add seen.json
          git commit -m "update seen ads" || echo "No changes"
          git push
